<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoMascotas1._0.Properties.Settings.ProyectoFinalConnectionString"
            connectionString="Data Source=DESKTOP-SOU1PGP\MYCNSQL;Initial Catalog=ProyectoFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>